.showcase-container {
  min-height: 100vh;
  padding-bottom: 5px;
}

.company-motto {
  font-weight: 100;
  font-size: 2.5rem;
  color: rgb(238, 203, 150);
  text-align: center;
  padding: 60px 0;
}

.form-area {
  background-color: rgba(100, 100, 100, 0.7);
  border: solid rgba(78, 77, 77, 0.53) 1px;
  min-height: 250px;
  margin: 0 25px 150px 25px;
  max-width: 450px;
  padding: 15px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;

  label {
    width: 100%;
  }

  .abstract-form-element {
    margin: 10px 20px;
    width: 80%;
    max-width: 400px;
    height: 35px;
    background-color: rgba(160, 160, 160, 0.87);
    border: 1.2px solid #424143;
    border-radius: 3px;
    font-size: 1.2rem;
  }

  input {
    @extend .abstract-form-element;
    height: 40px;
    border: none;
  }

  button {
    @extend .abstract-form-element;
    cursor: pointer;
  }
}

@media (min-width: 480px) {
  .form-area {
    margin: 0 auto 100px auto;
  }
}

