footer {
  position: static;
  margin-top: 190px;
  bottom: 0;
  width: 100%;
  background-color: rgb(205, 199, 194);

  text-align: center;

  h2 {
    padding: 5px;
    font-weight: normal;
    font-size: 1.4rem;
  }

  p {
    padding: 5px;
    font-size: 0.9rem;
  }

  ul {
    list-style: none;

    li {
      padding: 5px;
      height: 33px;
      line-height: 33px;
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .footer-container {
    flex-direction: row;
  }

}

.footer-text {
  margin: auto;
}

.footer-copyright {
  height: 30px;
  line-height: 30px;
  background-color: rgba(162, 162, 187, 0.41);
}
