.triple-box-container {
  background-color: rgba(189, 190, 190, 0.452);
  border: solid 2px rgb(189, 190, 190);
  border-radius: 10px;
  width: 90%;
  margin: 90px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;

  div {
    width: 300px;
    height: 180px;
    background-color: rgba(155, 155, 155, 0.77);
    margin: 30px;
    border: solid 1px rgba(134, 134, 134, 0.77);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #85807a;

    .column-title {
      font-size: 1.3rem;
      margin: 2px;
      font-weight: bold;
    }

    img {
      max-width: 80px;
      max-height: 80px;
      padding-top: 10px;
    }
  }

  @keyframes zoom-in-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  div:hover {
    animation: zoom-in-out 1.2s;
  }
}

.about-container {
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  div {
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    max-width: 400px;
    min-height: 70%;
    border: solid 2px rgb(189, 190, 190);
    background-color: rgba(189, 190, 190, 0.452);
  }

  aside {
    width: 400px;
    min-height: 30%;
  }

  .icon-title {
    font-size: 1.55rem;
    text-transform: uppercase;
  }

  .about-text {
    display: block;
    margin-top: 60px;
    font-size: 1.3rem;
  }

  .about-title {
    display: block;
    margin-top: 40px;
    font-size: 3rem;
  }
}

.return-btn {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  line-height: 100px;
  font-size: 2rem;
}

@media (min-width: 1180px) {
  .company-motto {
    font-size: 5rem;
  }

  .triple-box-container {
    padding: 50px;
  }

  .triple-box-container section {
    width: 450px;
    height: 300px;
  }
}