nav {
  width: 100%;
  height: 75px;
  background-color: rgb(171, 170, 170);
  border-bottom: solid 1px rgb(110, 109, 109);
  color: rgb(0, 0, 0);

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;

    li {
      cursor: pointer;
      padding: 5px;
      line-height: 60px;
    }

    li:first-child {
      margin-right: auto;
    }

    li:last-child{
      padding-right: 10px;
    }

    img {
      height: 60px;
    }
  }
}

.button-logout {
  color: #a74b52;
}

