.confirm {
  position: fixed;
  left: 50%;
  top: 30vh;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 170px;
  background-color: #e9e7e6;
  border-radius: 5px;
  animation: confirm-popup 0.7s;
  text-align: center;

  .message {
    font-size: 1.5rem;
    padding-top: 40px;
  }

  .choice-container {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .confirm-button {
      height: 40px;
      line-height: 40px;
      width: 110px;
      border-radius: 5px;
      background: #d7dad1;
      margin-bottom: 10px;
      color: white;
    }

    .confirm-button:hover {
      background-color: grey;
    }

    .confirm-reject {
      @extend .confirm-button;
      cursor: pointer;
      background: #81ce77;
    }

    .confirm-true {
      @extend .confirm-button;
      cursor: pointer;
      background: #e17e74;
    }
  }
}

@media (min-width: 720px) {
  .confirm {
    width: 500px;
  }
}

@keyframes confirm-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}