@keyframes error-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error {
  position: fixed;
  left: 50%;
  top: 30vh;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 120px;
  background-color: #ff8780;
  border-radius: 5px;
  animation: error-popup 1s;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #7a322c;
    font-size: 1.5rem;
  }
}

@media (min-width: 720px) {
  .error {
    width: 500px;
  }
}