.success {
  position: fixed;
  left: 50%;
  top: 30vh;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 120px;
  background-color: #8acb96;
  border-radius: 5px;
  animation: success-popup 1s;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
  }
}

@keyframes success-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 720px) {
  .success {
    width: 500px;
  }
}