.lesson-panel {
  text-align: center;
  padding: 10px;
  min-height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    background-color: #d3d2cb;
    border: 0.5px solid #847a78;
    box-shadow: #5d5755 5px 5px;
    padding: 40px 0;
    margin-top: 20px;
    width: 100%;

    p {
      font-size: 2rem;
      margin: 10px 0;
    }

    input {
      display: block;
      margin: 15px auto;
      width: 250px;
      height: 30px;
      background-color: rgb(158, 165, 159);
      border: 0.5px solid #424143;
      border-radius: 3px;
      font-size: 1.2rem;
    }

    .word-form {
      width: 300px;
      margin: 10px auto;
      padding: 15px 0;
      background-color: #bcbfbb;
      border: solid 1px #858084;

      img {
        cursor: pointer;
        width: 22px;
        height: 22px;
      }

      img:hover {
        transition: all 0.4s ease 0s;
        transform: scale(1.3);
      }
    }

    .word-form:hover {
      background-color: #ced1cd;
      transition: all 0.4s ease 0s;
    }
  }
}


@media(min-width: 630px) {
  .lesson-form {
    flex-direction: column;
  }
  .word-list {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 920px) {
  .word-list {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (min-width: 1280px) {
  .word-list {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (min-width: 1800px) {
  .word-list {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.lesson-add-word {
  margin: 25px auto;
  height: 70px;
  line-height: 70px;
  width: 230px;
  font-size: 1.3rem;
}

.send-button {
  font-size: 2rem;
  width: 250px;
  height: 80px;
  margin: 50px auto;
  background-color: #6b7b71;
  border: none;
}
