.teacher-lesson-list {
  margin-top: 20px;
  list-style: none;

  .teacher-lesson-element {
    display: flex;
    align-items: center;
    width: 300px;
    margin: auto;

    img {
      cursor: pointer;
      margin-left: 10px;
      width: 30px;
      height: 30px;
    }

    img:hover {
      transition: all 0.4s ease 0s;
      transform: scale(1.3);
    }

    li {
      position: relative;
      font-size: 2rem;
      margin: 20px 0 10px 0;
      width: 270px;
      height: 150px;
      background-color: rgb(197, 192, 185);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4b4740;
      box-shadow: 3px 3px rgb(133, 127, 118);
    }

    li:hover, li:hover .bar, li:hover .progress {
      background-color: ivory;
    }
  }
}

.add-button {
  margin: 40px auto 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  line-height: 60px;
  width: 300px;
}

@media (min-width: 450px) {
  .teacher-lesson-list {
    .teacher-lesson-element {
      width: 400px;

      li {
        width: 370px;
      }
    }
  }
  .add-new-lesson {
    width: 300px;
  }
}

@media (min-width: 850px) {
  .teacher-lesson-list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}


@media (min-width: 1280px) {
  .teacher-lesson-list {
    grid-template-columns: 33% 33% 33%;
  }
}

