$base-font-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
"DejaVu Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;


* {
  font-family: $base-font-stack;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 100vh;
}

body {
  background-color: rgb(226, 221, 214)
}

ul {
  list-style: none;
}

.user-button {
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
  color: white;
  background-color: rgb(97, 151, 104);
}

.user-button:hover {
  background: #8a8a83;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}