.lesson {
  height: 110vh;
}

.learning-area {
  position: relative;
  background-color: #d6d5be;
  margin: auto;
  top: 30px;
  height: 60vh;
  width: 80vw;
  border-radius: 10px;
  text-align: center;
  border: solid 0.5px #d6c4b0;
  box-shadow: 5px 5px 5px 5px #a1a08f;

  .abstract-word {
    position: absolute;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
  }

  .word {
    @extend .abstract-word;
    color: #67b400;
    top: 35%;

  }

  .translation {
    @extend .abstract-word;
    top: 65%;
    color: #ff6d6f;
  }
}

.action-area {
  margin: 80px auto;
  height: 100px;

  .check-button {
    line-height: 100px;
    height: 100px;
    width: 250px;
    margin: auto;
  }

  .grade-box {
    margin: auto;
    text-align: center;
    border-radius: 3px;
    display: flex;
    width: 90%;

    li {
      width: 33.3%;
      line-height: 100px;
      height: 100%;
      font-size: 1.5rem;
      text-transform: uppercase;
      box-shadow: 2px 2px 2px 2px #747476;
    }

    @media (hover: hover) {
      // Disable hover glitch on mobile device
      .rate-button:hover {
        background-color: #87877f;
        transition: all 0.4s ease 0s;
      }
    }

    .rate-button {
      cursor: pointer;
      color: white;
    }

    .grade-good {
      @extend .rate-button;
      background-color: rgb(149, 172, 61);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .grade-medium {
      @extend .rate-button;
      background-color: rgb(223, 221, 115);
    }

    .grade-wrong {
      @extend .rate-button;
      background-color: rgb(172, 82, 58);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .repeating {
    // Make buttons larger in repeat mode
    li {
      width: 50%;
    }
  }
}

.finish-text {
  font-size: 2rem;
  margin: 200px auto;
  text-align: center;
}

.lesson-return {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  line-height: 100px;
}


@media (min-width: 760px) {
  .word {
    font-size: 3.2rem;
  }

  .translation {
    font-size: 3.2rem;
  }
  .rate-button {
    margin: 0 10px;
  }
}
