.progresses-list {
  list-style: none;
  margin: 5vh auto;

  li {
    position: relative;
    font-size: 1.5rem;
    margin: 30px auto;
    width: 80%;
    height: 25vh;
    background-color: rgb(197, 188, 175);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4740;
    box-shadow: 3px 3px rgb(133, 127, 118);
  }

  li:hover, li:hover .bar, li:hover .progress {
    background-color: ivory;
  }

  .passed-lesson {
    background-color: #86b37f;
    height: 100px;

    span {
      font-size: 1rem;
    }
  }

  .bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    height: 15%;
    width: 80%;
    border-radius: 2px;
    background-color: #bab4af;

    .progress {
      background-color: #58b267;
      height: 100%;
      color: #54514f;
      border-radius: 2px;
    }
  }
}

.lesson-list {
  list-style: none;
  margin: 5vh auto;

  span {
    font-size: 1rem;
  }

  li {
    font-size: 1.5rem;
    margin: 30px auto;
    width: 80%;
    height: 100px;
    background-color: rgb(214, 200, 172);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4740;
    box-shadow: 3px 3px rgb(133, 127, 118);
  }

  li:hover, li:hover .bar, li:hover .progress {
    background-color: ivory;
  }
}



