.lesson-overview {
  h2 {
    text-align: center;
    font-size: 2rem;
    color: #444040;
    margin: 15px 0;
  }

  table {
    width: 95%;
    margin: auto;

    th {
      font-size: 1.5rem;
      color: #400e11;
    }


    td {
      width: 50%;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: #d7cbbc;
    }
  }
}

.reset-lesson {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  line-height: 100px;
  font-size: 2rem;
}

@media (min-width: 760px) {
  .lesson-overview h2 {
    font-size: 2.5rem;
  }
  td {
    font-size: 1.5rem;
  }
}

